body {
    background-color: #fffaea;
}

header {
    background-color: #fffaea;
}

.LogoImage {
    
    vertical-align: top;
    text-align: center;
    
}


ul {
    vertical-align:top;
    text-align: center;

    font-family:'Montserrat', sans-serif;
    font-weight:bold;
    font: size 24px;   
}

li {
    text-align: center;
    display: inline-block;
    margin: 0 5ch;
}

.biopage1 {
  
    width: 100%;
    display: flex;

}

.biopicimage {
    display: flex;
    justify-content: flex-end;
  
    width: 50%;
    height: 100%;
}

.alittleaboutme {
   
    width: 50%;
    height: 100%;
    background-color: #FFECD0;
    display: flex;
    justify-content: center;

}

.alittleaboutme1 {
    display: flex;
    justify-content: center;
    
    width: 90%;
    height: 350px;
    background-color: #FFECD0;

  
}

.biopic {
    display: flex;
    justify-content: center;

    width: 50%;
    height: 100%;
}

.skills {
    padding: 20px;
    
    display: flex;
    justify-content: center;
}

.softpictures {
    display: flex;
    
    justify-content: space-evenly;
}

.softimages {

    

}

.userresearch {
    height: 350px;

}















footer {
    grid-column: 1/9;
    grid-row: 15/16;
    background-color: #FFCA0A !important;
    margin-top: 2vh;
}

.contact {
    display: grid;
    grid-template-columns: repeat(10, 1fr);
    padding-top: 1vh;
}

.email {
    grid-column: 5/6;
    text-align: center;
    min-width: 100px;
}

.linkedIn {
    grid-column: 6/7;
    text-align: center;
    min-width: 100px;
}

.email:hover,
.linkedIn:hover {
    cursor: pointer;
}

.contact a {
    text-decoration: none;
    color: black;
}

.contact a:hover {
    color: rgb(37, 81, 202);
}

@media screen and (max-width: 980px) {
    .email {
        margin-right: 5vw;
    }

    .linkedIn {
        margin-left: 5vw;
    }
}